.container__bg__image {
    background-image: url("../images/slider.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 85vh;
    display: flex;
}

.container__text {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 125px;
}

.container__text__btn {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding: 10px 30px;
}

.container__text__title {
    line-height: 75px;
    font-size: 43px;
    font-weight: bold;
}

.pl__pr__0 {
    padding-left: 0px;
    padding-right: 0px;
}

@media screen and (max-width: 768px) {

    .container__bg__image {
        height: auto;
    }

    .container__text {
        padding: 15px;

    }
}